.dropdown-half{
    width:50%;
}
.dropdown-heading{
    height:25px;
    background: #FF6060;
    border-radius:10px;
    display:flex;
        justify-content: space-between;
        padding: 0 12px;
    
}
.dropdown-half .dropdown-heading span{
    font-size: 18px;
}
.dropdown-heading span{
        color:white;
        font-size:24px;
        font-weight:500;
}
.dropdown-heading .up-arrow{
    
}
.dropdown-content{
    height:25px;
    background: #F7F7F7;
    border-radius:10px;
    display:flex;
    
}
.dropdown-content span{
        color:white;
        font-size:14px;
        font-weight:500;
}