.tag{
    width:150px;
    height:25px;
    background: #FF6060;
    border-radius:10px;
    display:flex;
    justify-content:center;
    
}
.tag span{
        color:white;
        font-size:14px;
        font-weight:500;
    }