.banner{
    height:223px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('./banner-image.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-bottom:43px;
    padding: 0 20px;

}
.banner .layer{
    font-size: 48px;
    color:white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
}
.layer-1st-part{
    padding-right:4px;
}
.layer-1st-part, .layer-2nd-part{
    /* white-space: nowrap; */
}

.locations-container{
    background-color: #F7F7F7;
    padding: 0 3.70%;
    padding-top:56px;
    padding-bottom:56px;
    
    border-radius: 25px;

}
.locations-list{
display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 50px;
    column-gap:60px;
}
@media screen and (max-width:764px) {
    .banner{
        height:111px;
        margin-bottom: 0;
    }
    .banner .layer{
        font-size: 24px;
    }
    .locations-container{
        padding-top: 22px;
            padding: 0;

    }

}
@media screen and (max-width:787px){
    .locations-container{
        background: white;
        padding-top: 22px;
    }
    .banner{
        height:111px;
        margin-bottom: 0;
    }
}
@media screen and (max-width:776px){
    .locations-container{
        justify-content: center;
                

    }
}