.footer {
  height: 209px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: white;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}
.footer img {
  width: 122px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .copyright {
    font-size: 12px;
  }
}
